body {

			background: rgb(58,58,58);
			color: white;
			font-family: Helvetica ;
			margin: 0 ;
			padding: 0 ;

		}

		header {

			background: black;
			padding: 20px;

		}


		section{
			background: white;
			color: gray;
			padding:20px;
		}

		ul {
			margin: 0;
			padding:0;
			list-style-type: none;

		}

		li {
			display: inline-block;
			margin: 0 20px 0 0;

		}

		a {
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}




		footer{
			background: black ;
			margin: 0;
			padding: 20px ;
			color: gray;
		}