body {

			background: rgb(58,58,58);
			color: white;
			font-family: Helvetica ;
			margin: 0 ;
			padding: 0 ;

		}

		header {

			background-image: url('images/HeaderFrog.jpg');
			background-size: 100%;
			
			padding: 20px;
			height: 400px;
			text-align: center;
			

		}


		section{
			background: white;
			color: gray;
			padding:20px;
		}

		ul {
			margin: 0;
			padding:0;
			list-style-type: none;

		}

		li {
			display: inline-block;
			margin: 0 20px 0 0;

		}

		a {
			text-decoration: none;
			color: white;
		}

		a:hover {
			text-decoration: underline;
		}

		a:visited{
			color: white;
		}



		footer{
			background: black ;
			margin: 0;
			padding: 20px ;
			color: gray;
		}