body {

			background: rgb(58,58,58);
			color: white;
			font-family: Helvetica ;
			margin: 0 ;
			padding: 0 ;

		}

		header {

			background-image: url('images/Header.jpg');
			background-size: 100%;
			background-position: top;
			padding: 20px;
			height: 500px;
			text-align: center;


		}

		header .banner a{
			
			background-image: url('images/banner1.png');
			background-size: 150px;
			background-repeat: no-repeat;
			display:flex;
			width: 150px;
			height: 150px;
			text-indent:-9999999px;
			text-indent: 0 px;
			position: relative;
			top: -60px;

		}

		section{
			background: white;
			color: gray;
			padding:20px;
		}

		ul {
			margin: 0;
			padding:0;
			list-style-type: none;

		}

		li {
			display: inline-block;
			margin: 0 20px 0 0;

		}

		header a {
			font-weight: bolder; 
			text-decoration: none;
			color: black;
			margin-top:40px;
		}

		a:hover {
			text-decoration: underline;
		}

		a:visited{
			color: white;
		}




		footer{
			background: black ;
			margin: 0;
			padding: 20px ;
			color: gray;
		}